Repository davidahmann/ai-sa-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-vet, golangci-lint-fast, docker-compose-validate

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w
  stages:
  - pre-commit

go-imports:
  name: goimports
  entry: bash -c 'command -v goimports >/dev/null || go install golang.org/x/tools/cmd/goimports@latest; goimports -w .'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-vet:
  name: go vet
  entry: go vet
  language: system
  args:
  - ./cmd/...
  - ./internal/...
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: golangci-lint
  language: system
  args:
  - run
  - --config=.golangci.yml
  - --timeout=30s
  pass_filenames: false
  stages:
  - pre-commit

docker-compose-validate:
  name: Validate Docker Compose files
  entry: docker-compose config -q
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(webui): add diagram rendering and syntax highlighting
  cmd/webui/static/app.js
  cmd/webui/static/libs/mermaid.min.js
  cmd/webui/static/libs/prism-autoloader.min.js
  cmd/webui/static/libs/prism-copy-to-clipboard.min.js
  cmd/webui/static/libs/prism.css
  cmd/webui/static/libs/prism.min.js
  cmd/webui/static/style.css
  cmd/webui/templates/chat.html
Due: none

fix: apply formatting and linting fixes
  cmd/webui/static/app.js
  internal/context/display.go
  internal/context/display_test.go
  internal/synth/builder.go
  internal/synth/builder_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

fix: resolve critical linting issues and add streaming functionality
  cmd/webui/main.go
  cmd/webui/static/app.js
  cmd/webui/static/style.css
  internal/streaming/events.go
  internal/streaming/events_test.go
  internal/synth/builder.go
  internal/teams/orchestrator.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

feat(synthesis): add response regeneration with parameter presets
  cmd/synthesize/main.go
  cmd/synthesize/regeneration_test.go
  cmd/teamsbot/main.go
  internal/teams/adaptive_card.go
  internal/teams/adaptive_card_regeneration_test.go
  internal/teams/orchestrator.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

feat(ui): add clarification handling and response regeneration
  cmd/teamsbot/main.go
  internal/clarification/clarification.go
  internal/clarification/clarification_test.go
  internal/clarification/patterns.go
  internal/synth/builder.go
  internal/teams/adaptive_card.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

feat(webui): enhance mobile experience with PWA support and touch gestures
  cmd/learning/main.go
  cmd/webui/static/app.js
  cmd/webui/static/manifest.json
  cmd/webui/static/style.css
  cmd/webui/static/sw.js
  cmd/webui/templates/chat.html
  internal/feedback/detailed_collector.go
  internal/learning/adaptive_parameters.go
  internal/learning/adaptive_parameters_test.go
  internal/learning/analytics.go
  internal/learning/analytics_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

fix: apply formatting and linting fixes
  cmd/webui/static/app.js
  cmd/webui/static/manifest.json
  cmd/webui/static/style.css
  cmd/webui/static/sw.js
  cmd/webui/templates/chat.html
  internal/feedback/detailed_collector.go
  internal/learning/analytics.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

feat(webui): enhance user interface and mobile experience
  cmd/webui/static/app.js
  cmd/webui/static/style.css
  cmd/webui/templates/chat.html
Due: none

feat(system): enhance performance monitoring and testing infrastructure
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .gitignore
  cmd/ingest/Dockerfile
  cmd/ingest/main.go
  cmd/retrieve/Dockerfile
  cmd/retrieve/main_test.go
  cmd/retrieve/retrieve.log
  cmd/synthesize/Dockerfile
  cmd/synthesize/main.go
  cmd/teamsbot/Dockerfile
  cmd/teamsbot/main.go
  cmd/teamsbot/main_test.go
  cmd/websearch/Dockerfile
  cmd/websearch/main.go
  cmd/webui/Dockerfile
  cmd/webui/main.go
  docker-compose.yml
  internal/chroma/client_test.go
  internal/clarification/clarification.go
  internal/clarification/patterns.go
  internal/feedback/detailed_collector.go
  internal/health/health_test.go
  internal/learning/analytics.go
  internal/learning/analytics_test.go
  internal/openai/client_test.go
  internal/resilience/backoff_test.go
  internal/resilience/circuit_breaker_test.go
  internal/teams/message_parser_test.go
  internal/teams/webhook_validator_test.go
  scripts/run-performance-tests.sh
  tests/integration/phase1_ingestion_test.go
  tests/integration/resilience_test.go
  tests/performance/VALIDATION_CHECKLIST.md
  tests/performance/e2e_performance_test.go
  tests/performance/ingestion_performance_test.go
  tests/performance/performance_test.go
  tests/performance/rate_limit_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast, docker-compose-validate

feat(tests): add remaining performance tests and fix test formatting
  internal/feedback/logger_test.go
  internal/teams/adaptive_card_test.go
  tests/performance/concurrent_load_test.go
  tests/performance/resource_usage_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

feat(tests): add comprehensive integration tests and enhanced service functionality
  Makefile
  cmd/learning/main.go
  cmd/synthesize/main.go
  cmd/teamsbot/main.go
  cmd/webui/main.go
  docker-compose.test.yml
  internal/chroma/client_test.go
  internal/clarification/clarification.go
  internal/clarification/clarification_test.go
  internal/clarification/patterns.go
  internal/context/display.go
  internal/conversation/api.go
  internal/conversation/conversation.go
  internal/conversation/conversation_test.go
  internal/feedback/logger_test.go
  internal/learning/adaptive_parameters.go
  internal/learning/adaptive_parameters_test.go
  internal/learning/analytics.go
  internal/learning/analytics_test.go
  internal/openai/client_test.go
  internal/session/memory_storage.go
  internal/session/redis_storage.go
  internal/session/session.go
  internal/streaming/events_test.go
  internal/synth/builder.go
  internal/teams/adaptive_card_test.go
  internal/teams/orchestrator.go
  scripts/seed-test-data.go
  test/integration/conversation_integration_test.go
  tests/integration/README.md
  tests/integration/chromadb_test.go
  tests/integration/resilience_test.go
  tests/integration/setup_test.go
  tests/integration/testdata/sample-document.md
  tests/performance/e2e_performance_test.go
  tests/performance/ingestion_performance_test.go
  tests/performance/rate_limit_test.go
  tests/performance/resource_usage_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast, docker-compose-validate

fix(format): apply pre-commit formatting fixes
  Makefile
  internal/conversation/api.go
  scripts/seed-test-data.go
  test/integration/conversation_integration_test.go
  tests/integration/README.md
  tests/integration/chromadb_test.go
  tests/integration/setup_test.go
  tests/integration/testdata/sample-document.md
  tests/performance/resource_usage_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

feat(frontend): add JavaScript tooling and linting configuration
  .editorconfig
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  .prettierrc
  CLAUDE.md
  cmd/webui/static/app.js
  cmd/webui/static/sw.js
  eslint.config.js
  package.json
Due: none

docs(api): add comprehensive API documentation
  API_DOCS.md
Due: none

feat(tests): add performance test utilities and scripts
  scripts/test.sh
  tests/performance/concurrent_load_test_mock.go
  tests/performance/test_helpers.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

style(scripts): fix formatting in seed-test-data.go
  scripts/seed-test-data.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

fix: resolve ingestion service volume permission error (fixes #119)
  cmd/ingest/Dockerfile
  cmd/retrieve/Dockerfile
  cmd/synthesize/main.go
  configs/config.template.yaml
  docker-compose.yml
  internal/chroma/client.go
  internal/config/config.go
  internal/metadata/store.go
  internal/teams/orchestrator.go
Due: go-fmt, go-imports, go-vet, golangci-lint-fast, docker-compose-validate

feat: comprehensive UI/UX improvements for demo readiness
  cmd/webui/main.go
  cmd/webui/static/app.js
  cmd/webui/static/style.css
  cmd/webui/templates/chat.html
Due: go-fmt, go-imports, go-vet, golangci-lint-fast

chore: rename .github/README.md to CI_CD_PIPELINE.md to fix GitHub display issue
  .github/CI_CD_PIPELINE.md
Due: none

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$|
  .*\.backup$|
  benchmark-results\.txt$|
  coverage\.out$|
  API_DOCS\.md$
)$

  go-imports: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$|
  .*\.backup$|
  benchmark-results\.txt$|
  coverage\.out$|
  API_DOCS\.md$
)$

  go-mod-tidy: any of: go\.mod$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$|
  .*\.backup$|
  benchmark-results\.txt$|
  coverage\.out$|
  API_DOCS\.md$
)$

  go-vet: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$|
  .*\.backup$|
  benchmark-results\.txt$|
  coverage\.out$|
  API_DOCS\.md$
)$

  golangci-lint-fast: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$|
  .*\.backup$|
  benchmark-results\.txt$|
  coverage\.out$|
  API_DOCS\.md$
)$

  docker-compose-validate: any of: docker-compose.*\.ya?ml$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$|
  .*\.backup$|
  benchmark-results\.txt$|
  coverage\.out$|
  API_DOCS\.md$
)$

