Repository davidahmann/ai-sa-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-mod-vuln-check, docker-security-scan, go-bench, go-coverage, validate-config, docker-compose-validate, go-doc-gen

gosec:
  name: Go security check
  entry: bash -c 'go install github.com/securecodewarrior/gosec/v2/cmd/gosec@latest && gosec ./...'
  language: system
  pass_filenames: false

go-mod-vuln-check:
  name: Check Go modules for vulnerabilities
  entry: bash -c 'go install golang.org/x/vuln/cmd/govulncheck@latest && govulncheck ./...'
  language: system
  pass_filenames: false

docker-security-scan:
  name: Docker security scan
  entry: bash -c 'if command -v trivy &> /dev/null; then trivy config .; fi'
  language: system
  pass_filenames: false

go-bench:
  name: Run Go benchmarks
  entry: bash -c 'go test -bench=. -benchmem ./... | tee benchmark-results.txt'
  language: system
  pass_filenames: false

go-coverage:
  name: Check Go test coverage
  entry: 'bash -c ''go test -coverprofile=coverage.out ./... && go tool cover -func=coverage.out | grep total: | awk "{if(\$3+0 < 80) exit 1}"''
  
    '
  language: system
  pass_filenames: false

validate-config:
  name: Validate configuration files
  entry: bash -c 'if [ -f configs/config.yaml ]; then yamllint configs/config.yaml; fi'
  language: system
  pass_filenames: false

docker-compose-validate:
  name: Validate Docker Compose files
  entry: bash -c 'docker-compose config -q'
  language: system
  pass_filenames: false

go-doc-gen:
  name: Generate Go documentation
  entry: bash -c 'go doc -all ./... > API_DOCS.md'
  language: system
  pass_filenames: false

refactor: improve error handling and logging in internal packages
  internal/chroma/client.go
  internal/metadata/store.go
  internal/openai/client.go
Due: gosec, go-coverage, go-doc-gen

chore: update documentation and test results
  .claude/commands/fix-issue.md
  benchmark-results.txt
Due: none

fix(pre-commit): complete working pre-commit configuration
  .golangci.yml
  .pre-commit-config.yaml
  BUILD.md
  README.md
  benchmark-results.txt
  configs/config.template.yaml
  internal/chroma/client_test.go
  internal/chroma/integration_test.go
  internal/config/config_test.go
  internal/metadata/integration_test.go
  internal/metadata/store.go
  internal/metadata/store_test.go
  internal/openai/client.go
  internal/openai/client_test.go
Due: gosec, go-bench, go-coverage, validate-config, go-doc-gen

feat: add comprehensive test suite and improve Go modules
  cmd/ingest/main.go
  cmd/retrieve/main.go
  cmd/retrieve/main_test.go
  cmd/synthesize/main.go
  go.mod
  go.sum
  internal/chunker/chunker.go
  internal/chunker/chunker_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/synth/builder.go
  internal/synth/builder_test.go
  internal/synth/integration_test.go
  tests/integration/integration_test.go
Due: gosec, go-mod-vuln-check, go-bench, go-coverage, go-doc-gen

style: apply pre-commit hook formatting fixes
  benchmark-results.txt
  cmd/ingest/main.go
  cmd/retrieve/main_test.go
  cmd/synthesize/main.go
  go.mod
  internal/chunker/chunker.go
  internal/synth/builder.go
  internal/synth/builder_test.go
  internal/synth/integration_test.go
  tests/integration/integration_test.go
Due: gosec, go-mod-vuln-check, go-bench, go-coverage, go-doc-gen

feat: comprehensive codebase improvements and security enhancements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .golangci.yml
  .markdownlint.yml
  .pre-commit-config.yaml
  CLAUDE.md
  SECURITY_WORKFLOWS.md
  benchmark-results.txt
  cmd/ingest/main.go
  cmd/retrieve/main.go
  cmd/synthesize/main.go
  internal/chroma/client.go
  internal/chroma/client_test.go
  internal/config/config_test.go
  internal/metadata/integration_test.go
  internal/metadata/store.go
  internal/metadata/store_test.go
  internal/openai/client_test.go
  internal/synth/builder.go.backup
  internal/synth/builder_test.go
  internal/synth/integration_test.go
  tests/performance/performance_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

feat(synth): complete Mermaid diagram generation implementation
  internal/synth/builder.go
Due: gosec, go-coverage, go-doc-gen

style: fix formatting from pre-commit hooks
  internal/synth/builder.go
Due: gosec, go-coverage, go-doc-gen

feat(synth): add comprehensive synthesis functionality
  benchmark-results.txt
  cmd/synthesize/main.go
  internal/synth/builder.go
  internal/synth/builder_test.go
  tests/demo/demo_test.go
  tests/integration/integration_test.go
  tests/performance/performance_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

chore: disable funlen linter for demo project
  .golangci.yml
Due: none

chore: configure Checkov for demo project flexibility
  .checkov.yml
Due: none

chore: add benchmark-results.txt to .gitignore
  .gitignore
  benchmark-results.txt
Due: none

feat: implement comprehensive logging and error handling across all services
  .gitignore
  .gitleaks.toml
  cmd/ingest/main.go
  cmd/retrieve/main.go
  cmd/retrieve/main_test.go
  cmd/synthesize/main.go
  cmd/teamsbot/main.go
  cmd/websearch/main.go
  internal/chroma/client.go
  internal/chroma/client_test.go
  internal/chroma/integration_test.go
  internal/chunker/chunker.go
  internal/chunker/chunker_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/metadata/integration_test.go
  internal/metadata/store.go
  internal/metadata/store_test.go
  internal/openai/client.go
  internal/openai/client_test.go
  internal/synth/builder.go
  internal/synth/builder_test.go
  internal/synth/integration_test.go
  internal/teams/adaptive_card.go
  tests/demo/demo_test.go
  tests/integration/integration_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

feat: add diagram rendering service and comprehensive integration testing
  .github/workflows/integration-tests.yml
  cmd/retrieve/main.go
  cmd/synthesize/main.go
  cmd/teamsbot/main.go
  cmd/websearch/main.go
  cmd/websearch/main_test.go
  go.mod
  go.sum
  internal/config/config.go
  internal/diagram/renderer.go
  internal/diagram/renderer_test.go
  internal/synth/builder.go
  internal/websearch/detector.go
  internal/websearch/detector_test.go
  tests/integration/README.md
  tests/integration/demo_scenarios_test.go
  tests/integration/helpers.go
Due: gosec, go-mod-vuln-check, go-bench, go-coverage, go-doc-gen

feat: implement comprehensive retrieval API integration testing
  cmd/retrieve/main.go
  cmd/synthesize/main.go
  cmd/teamsbot/main.go
  cmd/websearch/main.go
  cmd/websearch/main_test.go
  docker-compose.test.yml
  internal/chroma/client.go
  internal/chroma/client_test.go
  internal/chroma/integration_test.go
  internal/config/config_test.go
  internal/health/health.go
  internal/health/health_test.go
  internal/metadata/integration_test.go
  internal/metadata/store.go
  internal/openai/client.go
  internal/resilience/backoff.go
  internal/resilience/backoff_test.go
  internal/resilience/circuit_breaker.go
  internal/resilience/circuit_breaker_test.go
  internal/resilience/errors.go
  internal/resilience/errors_test.go
  internal/resilience/health.go
  internal/resilience/timeout.go
  internal/synth/builder.go
  tests/integration/RETRIEVAL_API_TEST.md
  tests/integration/cleanup_test_env.sh
  tests/integration/phase1_ingestion_test.go
  tests/integration/retrieval_api_test.go
  tests/integration/setup_test_env.sh
  tests/integration/testdata/metadata.json
  tests/integration/testdata/test-aws-migration.md
  tests/integration/testdata/test-azure-hybrid.md
  tests/integration/testdata/test-fallback-scenario.md
  tests/integration/testdata/test-security-compliance.md
Due: gosec, go-bench, go-coverage, docker-compose-validate, go-doc-gen

fix: add pragma allowlist for secret detection in tests
  cmd/teamsbot/main_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

chore: add main binary to gitignore
  .gitignore
Due: none

chore: update secrets baseline after configuration changes
  .pre-commit-config.yaml
  .secrets.baseline
  cmd/teamsbot/main_test.go
  internal/teams/webhook_validator.go
Due: gosec, go-bench, go-coverage, go-doc-gen

fix: resolve all golangci-lint issues (cognitive complexity, magic numbers, nested if, revive)
  BUILD.md
  README.md
  configs/config.template.yaml
  docs/docker-setup.md
  internal/feedback/logger.go
  internal/health/health.go
  internal/health/health_test.go
  internal/teams/adaptive_card_test.go
  internal/teams/integration_test.go
  internal/teams/message_parser.go
Due: gosec, go-bench, go-coverage, validate-config, go-doc-gen

fix: resolve linting issues and import errors
  internal/teams/adaptive_card_test.go
  internal/teams/integration_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

chore: update secrets baseline and fix end-of-file
  .secrets.baseline
  cmd/ingest/main_test.go
  cmd/synthesize/main_test.go
  cmd/synthesize/synthesize.log
  internal/chroma/client.go
  internal/chroma/client_test.go
  internal/openai/client.go
  internal/openai/client_test.go
  test_fix.json
Due: gosec, go-bench, go-coverage, go-doc-gen

fix: update GitHub Actions security workflow
  .github/workflows/security.yml
Due: none

fix: upgrade actions/upload-artifact to v4 in integration tests
  .github/workflows/integration-tests.yml
Due: none

fix: resolve multiple GitHub Actions security workflow issues
  .github/workflows/security.yml
Due: none

fix: resolve golangci-lint issues and update GitHub Actions
  .github/workflows/ci.yml
  internal/chroma/client_test.go
  internal/openai/client_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

fix: comprehensive security and infrastructure improvements
  .github/workflows/integration-tests.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .nancy-ignore
  SECURITY.md
  cmd/ingest/Dockerfile
  cmd/retrieve/Dockerfile
  cmd/synthesize/Dockerfile
  cmd/teamsbot/Dockerfile
  cmd/websearch/Dockerfile
  internal/chroma/client_test.go
Due: gosec, docker-security-scan, go-bench, go-coverage, go-doc-gen

fix: resolve service startup failures in integration tests
  .github/workflows/integration-tests.yml
Due: none

fix: format Go code with gofmt
  internal/chroma/client_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

feat: switch to distroless base images for enhanced security
  cmd/ingest/Dockerfile
  cmd/retrieve/Dockerfile
  cmd/synthesize/Dockerfile
  cmd/teamsbot/Dockerfile
  cmd/websearch/Dockerfile
  docker-compose.yml
Due: docker-security-scan, docker-compose-validate

feat: add test mode configuration support for CI/CD
  .github/workflows/integration-tests.yml
  .secrets.baseline
  cmd/ingest/main.go
  cmd/retrieve/main.go
  cmd/synthesize/main.go
  cmd/teamsbot/main.go
  cmd/websearch/main.go
  internal/config/config.go
Due: gosec, go-coverage, go-doc-gen

feat: enhance retrieve service with test mode support for OpenAI client
  cmd/retrieve/main.go
Due: gosec, go-coverage, go-doc-gen

fix: update golangci-lint configuration for v2.x compatibility
  .golangci.yml
Due: none

chore: update secrets baseline with latest scan results
  .secrets.baseline
Due: none

feat: optimize pre-commit pipeline performance and add webui service
  .claude/commands/commit-and-push.md
  .nancy-ignore
  .pre-commit-config-ci.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  REPO.md
  SECURITY.md
  WORK_PLAN.md
  cmd/webui/Dockerfile
  cmd/webui/main.go
  cmd/webui/main_test.go
  cmd/webui/static/app.js
  cmd/webui/static/favicon.ico
  cmd/webui/static/style.css
  cmd/webui/templates/chat.html
  docker-compose.yml
  docs/playbooks/azure-hybrid-architecture.md
  internal/teams/webhook_validator.go
  scripts/test-precommit-performance.sh
Due: gosec, docker-security-scan, go-bench, go-coverage, docker-compose-validate, go-doc-gen

fix(docs): resolve markdown linting issues and improve pre-commit configuration
  .claude/commands/commit-and-push.md
  .claude/commands/create-issue.md
  .claude/commands/start.md
  .markdownlint.yml
  .pre-commit-config.yaml
  README.md
  docs/docker-setup.md
  docs/playbooks/azure-disaster-recovery.md
  docs/playbooks/azure-hybrid-architecture.md
  templates/REPO.md
Due: none

feat: implement conversation memory and session management
  cmd/synthesize/main.go
  cmd/teamsbot/main.go
  cmd/webui/main.go
  cmd/webui/main_test.go
  internal/config/config.go
  internal/conversation/api.go
  internal/conversation/conversation.go
  internal/conversation/conversation_test.go
  internal/session/memory_storage.go
  internal/session/memory_storage_test.go
  internal/session/redis_storage.go
  internal/session/session.go
  internal/session/session_test.go
  internal/session/utils.go
  internal/session/utils_test.go
  internal/synth/builder.go
  internal/teams/integration_test.go
  internal/teams/orchestrator.go
  internal/teams/orchestrator_test.go
  test/integration/conversation_integration_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

fix: resolve additional linting issues
  internal/conversation/api.go
  internal/conversation/conversation.go
  internal/session/memory_storage.go
  internal/session/memory_storage_test.go
  internal/session/redis_storage.go
  internal/session/session.go
  internal/session/utils.go
  internal/synth/builder.go
  internal/teams/orchestrator.go
  test/integration/conversation_integration_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

feat: implement query classification for cloud-related topics
  cmd/ingest/main_test.go
  cmd/retrieve/main.go
  cmd/teamsbot/main.go
  cmd/webui/main_test.go
  internal/classifier/classifier.go
  internal/classifier/classifier_test.go
  internal/config/config_test.go
Due: gosec, go-bench, go-coverage, go-doc-gen

feat(webui): implement advanced session management and conversation history
  cmd/webui/main.go
  cmd/webui/main_test.go
  cmd/webui/static/app.js
  cmd/webui/static/style.css
  configs/config.template.yaml
  internal/synth/builder.go
Due: gosec, go-bench, go-coverage, validate-config, go-doc-gen

Path conditions:
  gosec: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  go-mod-vuln-check: any of: go.mod, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  docker-security-scan: any of: Dockerfile*, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  go-bench: any of: .*_test\.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  go-coverage: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  validate-config: any of: configs/.*\.ya?ml$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  docker-compose-validate: any of: docker-compose.*\.ya?ml$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

  go-doc-gen: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  .github/|
  node_modules/|
  dist/|
  build/|
  coverage/|
  .*\.min\.(js|css)$|
  .*\.generated\..*$
)$

